##---------------------------------------------------------------------------------------------------------
##模块名称: water_led.ucf
##摘要提示: 
##当前版本: 1.0.0
##模块作者: 
##完成日期: 20XX年XX月XX日 
##内容提要:
##需要注意:                                                                   
##--------------------------------------------------------------------------------------------------------
##取代版本: 
##模块作者:
##完成日期: 
##修改内容:
##修改文件: 
##--------------------------------------------------------------------------------------------------------
Net "clk_50mhz_i"     LOC=P129;   #系统时钟，50MHz
Net "rst_n_i"         LOC=P85;    #复位按键，BUT0

Net "water_led_o<3>"  LOC=P103;
Net "water_led_o<2>"  LOC=P98;
Net "water_led_o<1>"  LOC=P105;
Net "water_led_o<0>"  LOC=P104;