(edif Seg7_LED
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2018 10 24 14 27 32)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-201103-SP2, mapper maprc, Build 517R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell IBUF (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port O (direction OUTPUT))
           (port I (direction INPUT))
         )
       )
    )
    (cell OBUF (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port O (direction OUTPUT))
           (port I (direction INPUT))
         )
       )
    )
    (cell LUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port I3 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell LUT2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell GND (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port G (direction OUTPUT))
         )
       )
    )
    (cell VCC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port P (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell Seg7_LED (cellType GENERIC)
       (view rtl (viewType NETLIST)
         (interface
           (port (array (rename seg7_decode_i "seg7_decode_i(4:0)") 5) (direction INPUT))
           (port (array (rename seg7_sel_o "seg7_sel_o(7:0)") 8) (direction OUTPUT))
           (port (array (rename seg7_decode_o "seg7_decode_o(7:0)") 8) (direction OUTPUT))
         )
         (contents
          (instance (rename seg7_decode_o_1_6_0__N_34_i "seg7_decode_o_1_6_0_.N_34_i") (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "4'hE"))
          )
          (instance (rename seg7_decode_o_1_6_0__m30 "seg7_decode_o_1_6_0_.m30") (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "4'h4"))
          )
          (instance (rename seg7_decode_o_1_6_0__m26 "seg7_decode_o_1_6_0_.m26") (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "4'h4"))
          )
          (instance (rename seg7_decode_o_1_6_0__m22 "seg7_decode_o_1_6_0_.m22") (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "4'h1"))
          )
          (instance (rename seg7_decode_o_1_6_0__m18 "seg7_decode_o_1_6_0_.m18") (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "4'h1"))
          )
          (instance (rename seg7_decode_o_1_6_0__m12 "seg7_decode_o_1_6_0_.m12") (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "4'h1"))
          )
          (instance (rename seg7_decode_o_1_6_0__m7 "seg7_decode_o_1_6_0_.m7") (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property INIT (string "4'h4"))
          )
          (instance (rename seg7_decode_o_1_6_0__m21 "seg7_decode_o_1_6_0_.m21") (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "16'h7B6D"))
          )
          (instance (rename seg7_decode_o_1_6_0__m32 "seg7_decode_o_1_6_0_.m32") (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "16'h1083"))
          )
          (instance (rename seg7_decode_o_1_6_0__m29 "seg7_decode_o_1_6_0_.m29") (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "16'h208E"))
          )
          (instance (rename seg7_decode_o_1_6_0__m25 "seg7_decode_o_1_6_0_.m25") (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "16'h02BA"))
          )
          (instance (rename seg7_decode_o_1_6_0__m17 "seg7_decode_o_1_6_0_.m17") (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "16'h2FFB"))
          )
          (instance (rename seg7_decode_o_1_6_0__m11 "seg7_decode_o_1_6_0_.m11") (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "16'h279F"))
          )
          (instance (rename seg7_decode_o_1_6_0__m6 "seg7_decode_o_1_6_0_.m6") (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property INIT (string "16'h2812"))
          )
          (instance (rename seg7_decode_o_obuf_7 "seg7_decode_o_obuf[7]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_o_obuf_6 "seg7_decode_o_obuf[6]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_o_obuf_5 "seg7_decode_o_obuf[5]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_o_obuf_4 "seg7_decode_o_obuf[4]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_o_obuf_3 "seg7_decode_o_obuf[3]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_o_obuf_2 "seg7_decode_o_obuf[2]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_o_obuf_1 "seg7_decode_o_obuf[1]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_o_obuf_0 "seg7_decode_o_obuf[0]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_sel_o_obuf_7 "seg7_sel_o_obuf[7]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_sel_o_obuf_6 "seg7_sel_o_obuf[6]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_sel_o_obuf_5 "seg7_sel_o_obuf[5]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_sel_o_obuf_4 "seg7_sel_o_obuf[4]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_sel_o_obuf_3 "seg7_sel_o_obuf[3]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_sel_o_obuf_2 "seg7_sel_o_obuf[2]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_sel_o_obuf_1 "seg7_sel_o_obuf[1]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_sel_o_obuf_0 "seg7_sel_o_obuf[0]") (viewRef PRIM (cellRef OBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_i_ibuf_4 "seg7_decode_i_ibuf[4]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_i_ibuf_3 "seg7_decode_i_ibuf[3]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_i_ibuf_2 "seg7_decode_i_ibuf[2]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_i_ibuf_1 "seg7_decode_i_ibuf[1]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance (rename seg7_decode_i_ibuf_0 "seg7_decode_i_ibuf[0]") (viewRef PRIM (cellRef IBUF (libraryRef VIRTEX)))
          )
          (instance GND (viewRef PRIM (cellRef GND (libraryRef UNILIB)))          )
          (instance VCC (viewRef PRIM (cellRef VCC (libraryRef UNILIB)))          )
          (net (rename GNDZ0 "GND") (joined
           (portRef G (instanceRef GND))
           (portRef I (instanceRef seg7_sel_o_obuf_0))
           (portRef I (instanceRef seg7_sel_o_obuf_1))
           (portRef I (instanceRef seg7_sel_o_obuf_2))
           (portRef I (instanceRef seg7_sel_o_obuf_3))
           (portRef I (instanceRef seg7_sel_o_obuf_4))
           (portRef I (instanceRef seg7_sel_o_obuf_5))
           (portRef I (instanceRef seg7_sel_o_obuf_6))
           (portRef I (instanceRef seg7_sel_o_obuf_7))
          ))
          (net (rename VCCZ0 "VCC") (joined
           (portRef P (instanceRef VCC))
           (portRef I (instanceRef seg7_decode_o_obuf_7))
          ))
          (net (rename seg7_decode_o_1_6_0__N_7 "seg7_decode_o_1_6_0_.N_7") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m6))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m7))
          ))
          (net (rename seg7_decode_o_1_6_0__N_12 "seg7_decode_o_1_6_0_.N_12") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m11))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m12))
          ))
          (net (rename seg7_decode_o_1_6_0__N_18 "seg7_decode_o_1_6_0_.N_18") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m17))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m18))
          ))
          (net (rename seg7_decode_o_1_6_0__N_22 "seg7_decode_o_1_6_0_.N_22") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m21))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m22))
          ))
          (net (rename seg7_decode_o_1_6_0__N_26 "seg7_decode_o_1_6_0_.N_26") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m25))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m26))
          ))
          (net (rename seg7_decode_o_1_6_0__N_30 "seg7_decode_o_1_6_0_.N_30") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m29))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m30))
          ))
          (net (rename seg7_decode_o_1_6_0__N_33 "seg7_decode_o_1_6_0_.N_33") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m32))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__N_34_i))
          ))
          (net (rename seg7_decode_i_c_0 "seg7_decode_i_c(0)") (joined
           (portRef O (instanceRef seg7_decode_i_ibuf_0))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m6))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m11))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m17))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m25))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m29))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m32))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m21))
          ))
          (net (rename seg7_decode_i_0 "seg7_decode_i(0)") (joined
           (portRef (member seg7_decode_i 4))
           (portRef I (instanceRef seg7_decode_i_ibuf_0))
          ))
          (net (rename seg7_decode_i_c_1 "seg7_decode_i_c(1)") (joined
           (portRef O (instanceRef seg7_decode_i_ibuf_1))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m6))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m11))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m17))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m25))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m29))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m32))
           (portRef I1 (instanceRef seg7_decode_o_1_6_0__m21))
          ))
          (net (rename seg7_decode_i_1 "seg7_decode_i(1)") (joined
           (portRef (member seg7_decode_i 3))
           (portRef I (instanceRef seg7_decode_i_ibuf_1))
          ))
          (net (rename seg7_decode_i_c_2 "seg7_decode_i_c(2)") (joined
           (portRef O (instanceRef seg7_decode_i_ibuf_2))
           (portRef I2 (instanceRef seg7_decode_o_1_6_0__m6))
           (portRef I2 (instanceRef seg7_decode_o_1_6_0__m11))
           (portRef I2 (instanceRef seg7_decode_o_1_6_0__m17))
           (portRef I2 (instanceRef seg7_decode_o_1_6_0__m25))
           (portRef I2 (instanceRef seg7_decode_o_1_6_0__m29))
           (portRef I2 (instanceRef seg7_decode_o_1_6_0__m32))
           (portRef I2 (instanceRef seg7_decode_o_1_6_0__m21))
          ))
          (net (rename seg7_decode_i_2 "seg7_decode_i(2)") (joined
           (portRef (member seg7_decode_i 2))
           (portRef I (instanceRef seg7_decode_i_ibuf_2))
          ))
          (net (rename seg7_decode_i_c_3 "seg7_decode_i_c(3)") (joined
           (portRef O (instanceRef seg7_decode_i_ibuf_3))
           (portRef I3 (instanceRef seg7_decode_o_1_6_0__m6))
           (portRef I3 (instanceRef seg7_decode_o_1_6_0__m11))
           (portRef I3 (instanceRef seg7_decode_o_1_6_0__m17))
           (portRef I3 (instanceRef seg7_decode_o_1_6_0__m25))
           (portRef I3 (instanceRef seg7_decode_o_1_6_0__m29))
           (portRef I3 (instanceRef seg7_decode_o_1_6_0__m32))
           (portRef I3 (instanceRef seg7_decode_o_1_6_0__m21))
          ))
          (net (rename seg7_decode_i_3 "seg7_decode_i(3)") (joined
           (portRef (member seg7_decode_i 1))
           (portRef I (instanceRef seg7_decode_i_ibuf_3))
          ))
          (net (rename seg7_decode_i_c_4 "seg7_decode_i_c(4)") (joined
           (portRef O (instanceRef seg7_decode_i_ibuf_4))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m7))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m12))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m18))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m22))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m26))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__m30))
           (portRef I0 (instanceRef seg7_decode_o_1_6_0__N_34_i))
          ))
          (net (rename seg7_decode_i_4 "seg7_decode_i(4)") (joined
           (portRef (member seg7_decode_i 0))
           (portRef I (instanceRef seg7_decode_i_ibuf_4))
          ))
          (net (rename seg7_sel_o_0 "seg7_sel_o(0)") (joined
           (portRef O (instanceRef seg7_sel_o_obuf_0))
           (portRef (member seg7_sel_o 7))
          ))
          (net (rename seg7_sel_o_1 "seg7_sel_o(1)") (joined
           (portRef O (instanceRef seg7_sel_o_obuf_1))
           (portRef (member seg7_sel_o 6))
          ))
          (net (rename seg7_sel_o_2 "seg7_sel_o(2)") (joined
           (portRef O (instanceRef seg7_sel_o_obuf_2))
           (portRef (member seg7_sel_o 5))
          ))
          (net (rename seg7_sel_o_3 "seg7_sel_o(3)") (joined
           (portRef O (instanceRef seg7_sel_o_obuf_3))
           (portRef (member seg7_sel_o 4))
          ))
          (net (rename seg7_sel_o_4 "seg7_sel_o(4)") (joined
           (portRef O (instanceRef seg7_sel_o_obuf_4))
           (portRef (member seg7_sel_o 3))
          ))
          (net (rename seg7_sel_o_5 "seg7_sel_o(5)") (joined
           (portRef O (instanceRef seg7_sel_o_obuf_5))
           (portRef (member seg7_sel_o 2))
          ))
          (net (rename seg7_sel_o_6 "seg7_sel_o(6)") (joined
           (portRef O (instanceRef seg7_sel_o_obuf_6))
           (portRef (member seg7_sel_o 1))
          ))
          (net (rename seg7_sel_o_7 "seg7_sel_o(7)") (joined
           (portRef O (instanceRef seg7_sel_o_obuf_7))
           (portRef (member seg7_sel_o 0))
          ))
          (net (rename seg7_decode_o_c_0 "seg7_decode_o_c(0)") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m7))
           (portRef I (instanceRef seg7_decode_o_obuf_0))
          ))
          (net (rename seg7_decode_o_0 "seg7_decode_o(0)") (joined
           (portRef O (instanceRef seg7_decode_o_obuf_0))
           (portRef (member seg7_decode_o 7))
          ))
          (net (rename seg7_decode_o_c_1 "seg7_decode_o_c(1)") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m12))
           (portRef I (instanceRef seg7_decode_o_obuf_1))
          ))
          (net (rename seg7_decode_o_1 "seg7_decode_o(1)") (joined
           (portRef O (instanceRef seg7_decode_o_obuf_1))
           (portRef (member seg7_decode_o 6))
          ))
          (net (rename seg7_decode_o_c_2 "seg7_decode_o_c(2)") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m18))
           (portRef I (instanceRef seg7_decode_o_obuf_2))
          ))
          (net (rename seg7_decode_o_2 "seg7_decode_o(2)") (joined
           (portRef O (instanceRef seg7_decode_o_obuf_2))
           (portRef (member seg7_decode_o 5))
          ))
          (net (rename seg7_decode_o_c_3 "seg7_decode_o_c(3)") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m22))
           (portRef I (instanceRef seg7_decode_o_obuf_3))
          ))
          (net (rename seg7_decode_o_3 "seg7_decode_o(3)") (joined
           (portRef O (instanceRef seg7_decode_o_obuf_3))
           (portRef (member seg7_decode_o 4))
          ))
          (net (rename seg7_decode_o_c_4 "seg7_decode_o_c(4)") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m26))
           (portRef I (instanceRef seg7_decode_o_obuf_4))
          ))
          (net (rename seg7_decode_o_4 "seg7_decode_o(4)") (joined
           (portRef O (instanceRef seg7_decode_o_obuf_4))
           (portRef (member seg7_decode_o 3))
          ))
          (net (rename seg7_decode_o_c_5 "seg7_decode_o_c(5)") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__m30))
           (portRef I (instanceRef seg7_decode_o_obuf_5))
          ))
          (net (rename seg7_decode_o_5 "seg7_decode_o(5)") (joined
           (portRef O (instanceRef seg7_decode_o_obuf_5))
           (portRef (member seg7_decode_o 2))
          ))
          (net (rename seg7_decode_o_6 "seg7_decode_o(6)") (joined
           (portRef O (instanceRef seg7_decode_o_obuf_6))
           (portRef (member seg7_decode_o 1))
          ))
          (net (rename seg7_decode_o_7 "seg7_decode_o(7)") (joined
           (portRef O (instanceRef seg7_decode_o_obuf_7))
           (portRef (member seg7_decode_o 0))
          ))
          (net (rename seg7_decode_o_1_6_0__N_34_iZ0 "seg7_decode_o_1_6_0_.N_34_i") (joined
           (portRef O (instanceRef seg7_decode_o_1_6_0__N_34_i))
           (portRef I (instanceRef seg7_decode_o_obuf_6))
          ))
         )
       )
    )
  )
  (design Seg7_LED (cellRef Seg7_LED (libraryRef work))
	(property PART (string "xc3s250etq144-5") (owner "Xilinx")))
)
