Net "clk_50mhz_i" LOC=P129;
Net "rst_n_i"     LOC=P85;

Net "lcd_rs_o"    LOC=P51;
Net "lcd_wr_o"    LOC=P50;
Net "lcd_en_o"    LOC=P44;
Net "lcd_data_o[0]" LOC=P43;
Net "lcd_data_o[1]" LOC=P39;
Net "lcd_data_o[2]" LOC=P35;
Net "lcd_data_o[3]" LOC=P34;
Net "lcd_data_o[4]" LOC=P33;
Net "lcd_data_o[5]" LOC=P32;
Net "lcd_data_o[6]" LOC=P31;
Net "lcd_data_o[7]" LOC=P26;
