##---------------------------------------------------------------------------------------------------------
##模块名称: adder.ucf
##摘要提示: 
##当前版本: 1.0.0
##模块作者: 
##完成日期: 20XX年XX月XX日 
##内容提要:
##需要注意:                                                                   
##--------------------------------------------------------------------------------------------------------
##取代版本: 
##模块作者:
##完成日期: 
##修改内容:
##修改文件: 
##--------------------------------------------------------------------------------------------------------
Net "cin_i" LOC=P96;

Net "a_i<1>" LOC=P97;
Net "a_i<0>" LOC=P93;

Net "b_i<1>" LOC=P94;
Net "b_i<0>" LOC=P91;

Net "cout_o" LOC=P105;

Net "sum_o<1>" LOC=P98;
Net "sum_o<0>" LOC=P103;